################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/4PlayerCoop/obj
/CombatChanges/obj/Debug
/.vs
/Hotbar Switcher/obj/Debug
/obj/Debug
/obj/x86/Debug
/CombatChanges/obj/x86/Debug
/CombatChanges/bin/Debug
/CombatChanges/.vs/CombatChanges/v16
/CombatChanges/CombatChanges.csproj.user
/Outard Mods Repo.csproj.user
/CombatChanges/app.config
